#body {
	background-color: transparent;
	margin: 10px 10px 10px 10px;
	color: #900000;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}